.center-items{
   
    margin-left: 100px;
    margin-right: 100px;

}

.row-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}


.text-setting {
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    max-height: 3.6em;
    line-height: 1.8em;
    width: 100%;
}
