.productDescriptionContainer{
    display: flex;
    box-sizing: border-box;
    padding: 10px;
}
.verticalImageStack{
    width: 67px;
    display: flex;
    flex-direction: column;
}
.thumbnail{
    width: 63px;
    height: 63px;
    border: 1px solid #f0f0f0;
    overflow: hidden;
    text-align: center;
}
.thumbnail img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.thumbnail:active{
    border: 2px solid #2874f0;
}
.productDescContainer{
    width: 485px;
}
.productDescImgContainer{
    width: 90%;
    height: 90%;
    overflow: hidden;
    text-align: center;
    border: 1px solid #f0f0f0;
}
.productDescImgContainer > img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.text-styling {
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #212121;
    padding-right: 10px;
}

.strong-text-class {
    font-size: 26px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #212121;
    padding-right: 10px;
}

.danger-custom-text {
    background-color: #26a541;
    padding: 2px 7px;
    border-radius: 14px;
    font-size: 16px;
    color: white;
}

.danger-custom-text2 {
    padding: 2px 7px;
    border-radius: 14px;
    font-size: 16px;
    color: #26a541;
}

.text-style1 {
    font-weight: 500;
    font-size: 14px;
    color: #878787;
}